﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">


    $(document).ready(function () {
        $('.blog-display').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("BlogDisplayView")',
                success: function (result) {
                    $('#blog-body-view').html(result);

                }
            });
        });
    

            $('.blog-create').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Create")',
                    success: function (result) {
                        $('#blog-create-view').html(result);

                    }
                });
            });


    });


</script>
</head>
<body>
    <h1 class="blog-display">Ian's Phony Pholio</h1>
    @*<button class="blog-display">Blog</button>*@
    <div id="blog-body-view"></div>

    <h1 class="blog-create">Ian's Phony Pholio</h1>
    @*<button class="blog-display">Blog</button>*@
    <div id="blog-create-view"></div>


</body>
</html>