.picture-form{
    display: flex;
    height:auto;
    flex-flow: column;
    border: grey 5px solid;
    border-radius: 10px;
    width: 20vw;
    justify-content:space-between;
    padding-top: 5px;  
    padding-bottom: 20px;
}

.post-form {
    display: flex;
    height: auto;
    flex-flow: column;
    border: grey 5px solid;
    border-radius: 10px;
    width: 20vw;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
}

.picture-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.placard
{
    border: ridge 3px black;
    border-radius: 7px;
    padding-top:5px;
    margin-left:auto;
    margin-right: auto;
    width:20vw;
    background-color:aliceblue;
    color:black;
    font-family:'Times New Roman', Times, serif;
}

.picture {
    border: grey 10px outset;
    height: 30vw;
}



.picture-frame {
    display: flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    align-items: center;
}

.responce-block{
display:none;
}

.responce-container {
    background-color: rgba(51, 51, 51, .7);
    display: flex;
    height: auto;
    flex-flow: column;
    border: grey 5px solid;
    border-radius: 10px;
    width: 20vw;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
}

.post-frame {
    background-color: rgba(51, 51, 51, .7);
    border: grey 10px outset;
    display: flex;
    height: auto;
    flex-flow: column;
    border-radius: 10px;
    width: auto;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
}
.posr-title{
    text-align:center;
}

.post-img {
    border: 2px inset slategrey; 
}

@media screen and (max-width: 767px) {
    .post-form {
        display: flex;
        height: auto;
        flex-flow: column;
        border: grey 5px solid;
        border-radius: 10px;
        width: 10em;
        justify-content: space-between;
        
    }
}



.form-line{
    padding: 4px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/Maple.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 95vw;
    height: inherit;
    color: gainsboro;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /* Set widths on the form inputs since otherwise they're 100% wide */
    input, select, textarea

{
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}