@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h2>About Ian</h2>
    <p>I'm a working-class guy with liberal-arts leanings. I've been a cook, a deckhand, and a municipal street worker. I've been a performance artist, host, actor, barker, writer, editor, sound designer, and dramaturge as well. Currently I'm working on being a coder, or programmer, or app designer, or whatever else translates to 'gainfully employed person in the tech industry'.</p><br />
    <p>This is the point where I'm supposed to launch into the grand/heart-warming/sentimental story about how I found my way out of the grease-mines of the service industry and into the promise-land of coding, like an filmic-ingénue coming up out of the subway and into Midtown Manhattan for the first time; the multi-colored lights IDEs shinning down on me like so much Times Square neon. And yeah, there's a bit of that I guess. After years of service and labor jobs I went back to school. I wasn't sure if I wanted to be a 'performer' or an academic, so I split the difference and became a Dramaturge, which is sort of like an academic for a theatre company. In effect I took a fifty-thousand-dollar-vow-of-poverty, wrote a 75 page undergraduate thesis on the faults and follies of western historiography on theatre in the Middle East, and ended up cooking again to pay the bills. After a while I enrolled in a night bootcamp at PDX Code Guild, and then in the full-time C#/.NET track at Epicodus. Why tech? Because I liked the problem-solving aspects. I like the multi-colder lights of an IDE. I like most of the people I've met through it. And yeah, I know I'm not supposed to say this, but because I want to get paid like an adult. Because I don't want to wake up hating where I'm going because I know it's nowhere. Because I don't want to have to wake up at 3:00 am anymore and pretend that bits of me don't hurt like hell. Because I want to work somewhere that it's not unusual to spend your lunch break working out, your Monday evenings playing D&D with your co-workers. Because I want to buy a house. Because, like it or not; tech is the new blue-collar industry, and there's going to be a lot of people like me coming to find a job and a place. </p>

    <p>Also nobody, aside from maybe my instructor (Hi Lena) is ever going to read this, so it's safe to say something here that's actually true and not in the STAR format, which was invented by the soulless for the soulless. </p>

    <p>Salute!<br />Ian M Goodrich</p>
</div>