
<div>
    <h2>Mad Skills</h2>
    <ul>
        <li>C#</li>
        <li>.NET</li>
        <li>Visual Studio 2017</li>
        <li>Python</li>
        <li>Django</li>
        <li>Pycharm</li>
        <li>JavaScript</li>
        <li>Angular4</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Git</li>
        <li>Editing</li>
        <li>Writing</li>
        <li>Voice Acting</li>
        <li>Research</li>
        <li>Cooking</li>
        <li>Not Cooking for a living anymore</li>
        <li>Absurdist Comedy</li>
        <li>Remembering where you (not I) put things</li>
    </ul>
</div>

<div>
    <a href="https://drive.google.com/open?id=1Yp49GJwojIRFfF1EamaZ_3yeWw1RGHAI"><h2>Click For Resume</h2></a>

</div>

<div>
    <h2>
        Education
    </h2>
    <div>
        <h3>Epicodus Code School</h3>
        <h4>C#/.NET track    1/2018-5/2018</h4>
        <ul>
            <li>Working in pairs, teams, or individually on projects in numerous code bases for 50+ hours a week</li>
            <li>Capstone: Exquisite corpse web app</li>
        </ul>
    </div>
    <div>
        <h3>PDX Code Guild</h3>
        <h4>Python/Django Full Stack    3/2017-7/2017</h4>
        <ul>
            <li>Working with a small group on python console and web projects, 20+ hours a week.</li>
            <li>Capstone: Dramaturgy portfolio page</li>
        </ul>
    </div>
    <div>
        <h3>Portland State University</h3>
        <h4>University Honors College</h4>
        <h4>School of Theatre Arts</h4>
        <ul>
            <li>Honors: Course work and seminars with a focus on Neitzsche, Freud, and Said. Undergraduate thesis on western historiography of Middle Eastern theatre</li>
            <li>Theatre: Course work focused on performing, perfromance theory, playwrighting and dramaturgy. Seminars on Craig, Appia and theatre research</li>
            <li>Graduated: Suma Cum Laude, Theatre Honors Society, Univerity Honors Program Graduate</li>
        </ul>
    </div>
</div>




<div>
    <h2>About Ian</h2>
    <p>I'm a working-class guy with liberal-arts leanings. I've been a cook, a deckhand, and a municipal street worker. I've been a performance artist, host, actor, tea-house barker, writer, editor, sound designer, photographer, and dramaturge as well. Often I've many of these things at the same time. Currently I'm working on being a coder, or programmer, or app designer, or whatever else translates to 'gainfully employed person in the tech industry'.</p><br />
    <p>This is the point where I'm supposed to launch into the grand/heart-warming/sentimental story about how I found my way out of the grease-mines of the service industry and into the promise-land of coding. Where, like an filmic-ingénue coming up out of the subway and into Midtown Manhattan for the first time; the multi-colored lights of monitors full of IDEs shinning down on me like so much Times Square neon. And yeah, there's a bit of that I guess. After years of service and labor jobs I went back to school. I wasn't sure if I wanted to be a 'performer' or an academic, so I split the difference and became a Dramaturge, which is sort of like an academic for a theatre company. In effect I took a fifty-thousand-dollar-vow-of-poverty, wrote a 75 page undergraduate thesis on the faults and follies of western historiography on theatre in the Middle East(a modern classic), and ended up cooking again to pay the bills. <br />After a while I enrolled in a night bootcamp at PDX Code Guild, and then in the full-time C#/.NET track at Epicodus. Why tech? Because I liked the problem-solving aspects. I do like the multi-colder lights of an IDE. I relly like the vast majority of the people I've met through it. And yeah, I know I'm not supposed to say this but, because I want to get paid like an adult. Because I don't want to wake up hating where I'm going because I know it's nowhere. Because I don't want to have to wake up at 3:00 am anymore and pretend that bits of me don't hurt like hell. Because I want to work somewhere that it's not unusual to spend your lunch break working out, or your Monday evenings playing D&D with your co-workers. Because I want to buy a house. Because, like it or not; tech is the new blue-collar industry, and there's going to be a lot of people like me coming to find a job and a place. </p>

    <p>Also nobody, aside from maybe my instructor (Hi Lena!) is ever going to read this, so it's safe to say something here that's actually true and not in the STAR format, which was invented by the soulless for the soulless. </p>

    <p>Anyway, That's me.</p>

    <p>Salute!<br />Ian M Goodrich</p>
</div>