<div>
    Ian Goodrich<br />
    <strong>Phone:</strong> 541-499-5719<br />
    <strong>Email:</strong><a href="mailto:iangoodrich@hotmail.com">iangoodrich@hotmail.com</a><br />
    <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/ian-goodrich/">/in/ian-goodrich</a><br />
    <strong>Git:</strong><a href="https://github.com/LeeMellon">/LeeMellon</a><br />
</div>
